/* ---------------------------
   Estilo general del documento
---------------------------- */
body {
  background: url(../img/bgblanco.png) repeat;
  text-align: justify;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  margin: 0; /* Eliminar márgenes por defecto */
  padding: 0;
  box-sizing: border-box;
}
/* ---------------------------
   Cabecera principal
---------------------------- */
header {
  background: url(../img/bgblue2.png) repeat;
  opacity: 0.5;
  text-align: center;
  padding: 5px;
  color: rgba(255, 250, 250, 0.9);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}
/* ---------------------------
   Menú de navegación
---------------------------- */
nav {
  overflow: hidden;
  background-color: rgba(210, 105, 30, 0.5); /* chocolate semitransparente */
  opacity: 0.85;
}

nav a {
  float: left;
  display: block;
  color: rgba(255, 250, 250, 0.9);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: rgba(128, 128, 128, 0.25);
  color: rgba(255, 215, 0, 0.75);
}
/* ---------------------------
   Contenedor principal
---------------------------- */
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
}
/* ---------------------------
   Tarjeta de ejercicio
---------------------------- */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  max-width: 300px;
  border: 1px solid rgba(211, 211, 211, 0.5);
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  font-family: sans-serif;
  background-color: white;
}
.cardTitle {
  font-size: 24px;
  padding: 10px 10px 0 10px;
}

.cardBody {
  padding: 10px;
  flex: 1 1 100%;
}

.cardFooter {
  background: rgba(50, 205, 50, 0.25); /* verde claro semitransparente */
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
}

.cardFooter a {
  text-decoration: none;
  color: rgba(0, 0, 255, 0.8);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
/* ---------------------------
   Pie de página
---------------------------- */
footer {
  background: url(../img/bgblue2.png) repeat;
  opacity: 0.5;
  text-align: center;
  padding: 20px;
  color: rgba(255, 250, 250, 0.9);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
/* ---------------------------
   Estilo responsive (pantallas pequeñas)
---------------------------- */
@media screen and (max-width: 600px) {
  main {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
